node_modules
dist
dist_electron
dist_electron_obfuscated
dist_out
aegis-build
aegis-data
release
*.log
*.pem
.DS_Store
.env
.env.local
.idea
.vscode
*.tsbuildinfo
.builder-cache
build/config.gypi
build/Release
build/Debug
build/*.vcxproj
build/*.sln
build/*.filters
build/*.user
nul

# Documentation
*.md
!README.md
!SECURITY.md
!CHANGELOG.md
!*_WHITEPAPER_*.md
!BROWSER_EXTENSION_GUIDE.md

# Security
private_key.pem
public_key.pem
*.key
*.p12
*.pfx
build-output.txt
